@font-face {
	font-family: 'caoshu';
	src: url('/fonts/caoshu.ttf');
}

@font-face {
	font-family: 'songke';
	src: url('/fonts/songke.ttf');
}

.heading {
	overflow: hidden;
	width: max-content;
	font-family: 'caoshu';
	font-size: 16rem;
	font-weight: 400;
	@include center;

	&-char {
		color: transparent;
		background-image: linear-gradient(
			to bottom right,
			$color-primary-light 10%,
			$color-primary 50%
		);
		-webkit-background-clip: text;
		background-clip: text;
		display: inline-block;
		opacity: 0;

		transform: translateY(100%);
		animation-name: moveInBottom;
		animation-fill-mode: forwards;
		animation-timing-function: ease-in-out;

		&:nth-child(1) {
			animation-duration: 1.3s;
		}
		&:nth-child(2) {
			animation-duration: 1.5s;
		}
		&:nth-child(3) {
			animation-duration: 1.7s;
		}
		&:nth-child(4) {
			animation-duration: 2s;
		}
		&:nth-child(5) {
			animation-duration: 2.3s;
		}
	}
}

.leaveHeading {
	opacity: 0;
}

.char {
	position: absolute;
	animation-name: moveIn;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	color: $color-grey-2;
	font-family: 'caoshu';
	font-size: 20rem;
	z-index: -1;

	&:nth-child(1) {
		top: -6rem;
		left: 5rem;
		transform: translateY(-4rem);
		animation-duration: 1.3s;
	}
	&:nth-child(2) {
		top: 8rem;
		right: -3rem;
		transform: translateX(3rem);
		animation-duration: 1.6s;
	}
	&:nth-child(3) {
		bottom: 2rem;
		left: -4rem;
		transform: translateX(-3rem);
		animation-duration: 2s;
	}

	&:nth-child(4) {
		bottom: -10rem;
		right: 5rem;
		transform: translateY(5rem);
		animation-duration: 2.3s;
	}
}
