// COLORS
$color-black: black;
$color-white: white;

$color-primary-light: rgb(219, 206, 122);
$color-primary: rgb(108, 91, 49);

$color-secondary: rgb(13, 37, 53);

$color-grey-1: rgb(185, 185, 185);
$color-grey-2: rgb(226, 211, 211);

// GRID
$grid-width: 100%;
$gutter-vertical: 7rem;
$gutter-horizontal: 5rem;
